<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A Modern Web Framework For Node.js</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
</head>
<body>

  <main>
    <div>
      <ul>
        <li>
          此页的路由在<code>start/routes.ts</code>文件
        </li>

        <li>
          您可以通过编辑<code>resources/views/welcome.edge</code>文件
        </li>

        <li>
          如果你跳到问题，你可以看到我们在 <a href="https://discord.gg/vDcEjq6?">Discord</a> 或 <a href="https://forum.adonisjs.com/">Forum</a>.
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
